.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 80px;

}

.card {
    width: 230px;
    height: 350px;
}


.card-title {
    color: #258b9d;
    text-align: center;
    margin-bottom: 20px;
}

.card-img {
    width: 100%;
    height: 250px;
    background-color: #f4f1f1e0;
    border-radius: 15px;
    border: none;
    padding: 15px 0;
}

.card-img img {
    width: 100%;
    margin-top: 45px;
}

.p-title {
    text-align: left;
    color: black;
}

.card-btn {
    display: flex;
    justify-content: space-between;
}

.card-btn-disabled {
    background-color: #c1cd152d;
    padding: 10px 20px;
    width: 80px;
    border-radius: 20px;
    border: none;
    color: #258b9d;
}

.card-btn-abled {
    background-color: #258b9d;
    color: white;
    padding: 12px 35px;
    font-size: 16px;
    width: 130px;
    border-radius: 20px;
    border: none;
}

.card-btn-abled:hover {
    transition-duration: 1s;
    background-color: #fff;
    color: #258b9d;

}


@media screen and (max-width: 1400px) {
    .page-content {
        justify-content: center;
    }
    .card{
        margin: 30px 15px;
    }
}